 <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Duration</th>
      <th>Distance(km)</th>
      <th>Date</th>
      <th>Time</th>
      <th>Type</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% session[:activity]["items"].each do |item| %>
    <tr>
      <th><%= Time.at(item["duration"]).gmtime.strftime("%R:%S")%></th>
      <th><%= (item["total_distance"]/1000) %></th>
      <th><%= DateTime.parse(item["start_time"]).strftime("%a %d %b %Y") %></th>
      <th><%= item["start_time"] %></th>
      <th><%= item["type"] %></th>
      <th><a href="http://localhost:4567<%= item["uri"] %>">Details</a></th>
    </tr>
    <% end %>
  </tbody>      
</table>

